<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>테이블</title>
    <link rel="stylesheet" href="/src/common/modern-reset.css" />
    <link rel="stylesheet" href="/src/Ediya-component/news/components/news_tables.css" />
    </head>
  <body>
   <div class="component-box">
      <h2 class="component-title">News 테이블</h2>
      <div class="component-preview">

        <table class="news-table">
              <thead>
                <tr>
                  <th scope="col">순서</th>
                  <th scope="col">내용</th>
                  <th scope="col">날짜</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>999</td>
                  <td>[MTN] 이디야커피, 조각 케이크 2종 출시···디저트 강화</td>
                  <td>2020.09.08</td>
                </tr>
                <tr>
                  <td>999</td>
                  <td>[매일경제] 이디야커피, 공정거래조정원 '착한 프랜차이즈' 선정</td>
                  <td>2020.09.08</td>
                </tr>
                <tr>
                  <td>999</td>
                  <td>[매일경제] 이디야커피, 공정거래조정원 '착한 프랜차이즈' 선정</td>
                  <td>2020.09.08</td>
                </tr>
                <tr>
                  <td>999</td>
                  <td>[매일경제] 이디야커피, 공정거래조정원 '착한 프랜차이즈' 선정</td>
                  <td>2020.09.08</td>
                </tr>
                <tr>
                  <td>999</td>
                  <td>[매일경제] 이디야커피, 공정거래조정원 '착한 프랜차이즈' 선정</td>
                  <td>2020.09.08</td>
                </tr>
              </tbody>
            </table>

      </div>
    </div>
  </body>
</html>
