<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New 텝 컴포넌트</title>
    <link rel="stylesheet" href="/src/common/modern-reset.css" />
    <link rel="stylesheet" href="/src/Ediya-component/news/components/news_tab.css" />
    </head>
  <body>
   <div class="component-box">
      <h2 class="component-title">New 텝 컴포넌트</h2>
      <div class="component-preview">

        <main class="wrapper news-wrapper">
            <div class="container news-container">
              <div class="tab-menu">
                <button>공지사항</button>
                <button class="active">언론 속 이디야</button>
                <button>홍보영상</button>
                <button>수상내역</button>
              </div>
            </div>  
        </main>

      </div>
    </div>
  </body>
</html>