@import url(../../common/modern-reset.css);
@import url(../../common/theme/variables.css);

.chatbot-btn {
  position: fixed;
  bottom: 0;
  right: 20px;
  cursor: pointer;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;

  &:focus-visible::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 57px;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 0 0 0 1px var(--color-blue);
    pointer-events: none;
  }
}

.modal-wrapper {
  position: relative;
  background-color: var(--color-cool-gray);
  z-index: 99;

  /* 초기엔 숨김 */
  display: none;
  flex-flow: column;

  position: fixed;
  bottom: 120px;
  right: 45px;

  width: 358.4px;
  height: 580px;

  border-radius: 3%;
  padding: var(--space-3);
  gap: var(--space-1);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.modal-wrapper > a {
  color: var(--color-dark-gray);
  font-size: var(--font-size-sm);
  text-decoration: none;
  text-align: center;
}

/* 버튼 클릭 시 표시 */
.modal-wrapper.active {
  display: flex;
}

.bot-profile {
  display: flex;
  flex-flow: column;
  background-image: url(../../assets/chatbot-icon/icon.svg);
  background-repeat: no-repeat;
  background-position: -15px -9px;
  padding-top: var(--space-2);
  gap: var(--space-1);

  height: 90px;
  padding-left: 90px;
}

.bot-profile .name {
  font-size: var(--font-size-m);
}

.bot-profile button.open-toggle {
  font-size: var(--font-size-sm);
  color: var(--color-dark-gray);
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

.trading-hour-popup {
  background-color: var(--color-white);
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 0;
  width: 98%;
  height: 40%;
  border-radius: 18px;
  justify-content: start;
  align-content: start;
  padding: var(--space-2);
  display: none;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* 운영시간 팝업 활성화 시 표시 */
.trading-hour-popup.active {
  display: block;
}

.trading-hour-popup label,
.trading-hour-popup button#close-toggle-btn {
  display: block;
  width: 100%;
  text-align: end;
  margin-bottom: var(--space-1);
  background: none;
  border: none;
  font-size: var(--font-size-sm);
  color: var(--color-dark-gray);
  cursor: pointer;
}

.trading-hour-popup .timezone {
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}

.trading-hour-popup ul {
  display: flex;
  flex-flow: column;
  gap: var(--space-2);
}

.trading-hour-popup .label {
  font-size: var(--font-size-sm);
  color: var(--color-dark-gray);
  margin-bottom: var(--space-1);
}

.trading-hour-popup .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: var(--space-1);
}

.trading-hour-popup .green {
  background-color: green;
}

.trading-hour-popup .gray {
  background-color: var(--color-gray);
}

.trading-hour-popup .hours,
.trading-hour-popup .holidays {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-1);
}

.trading-hour-popup .day {
  flex: 1;
}

.modal-content {
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  background-color: var(--color-white);
  padding: var(--space-2);
}

.modal-content .inquiry-btn {
  display: inline-block;
  background-color: var(--color-blue);
  border-radius: 10px;
  line-height: var(--button-line-height);
  color: var(--color-white);
  font-weight: var(--button-font-weight);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 100%;

  margin-top: var(--space-2);
  margin-bottom: var(--space-1);
}

.modal-content em {
  font-size: var(--font-size-sm);
  width: auto;
  text-align: center;
}
