@import url(./variables.css);

.btn {
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: var(--button-font-size);
  height: var(--button-height);
  padding: var(--button-padding);
  border: none;
  cursor: pointer;
}
.btn-outline {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
  font-size: var(--button-font-size);
  height: var(--button-height);
  padding: var(--button-padding);
  cursor: pointer;
}
