@import url(../../common/theme/variables.css);
@import url(../../common/theme/button.css);

.product-card {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--color-beige);

  .full-link {
    text-decoration: none;
    color: var(--color-black);
  }

  figure {
    display: flex;
    flex-flow: column;
    padding: var(--space-1);

    figcaption {
      display: flex;
      flex-flow: column;
      align-items: center;
      order: 1;
      gap: var(--space-1);

      div {
        font-size: var(--font-size-base);
      }
      p {
        font-size: var(--font-size-sm);
      }
    }

    img {
      order: 2;
      width: 100%;
      height: auto;
      object-fit: contain;
      padding-top: var(--space-2);
    }
  }
}
.product-list-wrapper {
  position: relative;
}

.product-container {
  background-color: var(--color-beige);
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.list-product {
  display: grid;
  grid-auto-columns: calc((100% / 3) + var(--space-5));
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  align-items: stretch;
  gap: var(--space-1);
  padding: var(--space-5);

  li {
    border-left: 1px solid var(--color-gray);
    scroll-snap-align: start;
  }
}

@media (max-width: 768px) {
  .list-product {
    grid-auto-columns: calc(50% + var(--space-1));
    padding-inline: var(--space-2);
  }
}
