@import url('../common/theme/button.css');
@import url('../common/theme/variables.css');

/* 이하 브루잉도구 중단점 불문 공통스타일 */
.wrapper-brewing-tool {
  gap: var(--space-3);
  background-image: url('../assets/brewing/M5_MO.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 20px;
  height: 656px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}

.wrapper-brewing-tool h2 {
  color: var(--color-white);
  font-size: var(--font-size-lg);
  text-align: center;
  width: 501.52px;
  font-weight: normal;
}

.descrpition-brewing-tool {
  width: 501.52px;
  color: var(--color-white);
  font-size: var(--font-size-sm);
  text-align: center;
  line-height: 1.9;
}

.btn-outline.details-btn-brewing-tool {
  border: none;
  margin-right: auto;
  margin-left: 0;
  width: 501.52px;
}

.wrapper-brewing-tool .descrpition-brewing-tool .details-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-beige);
}

/* 베스트셀러 섹션 시작 */
/* 이하 제품 카드 중단점 불문 공통스타일 */

.wrapper-best-sellers-section {
  background-color: var(--color-beige);
  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  box-sizing: border-box;
}

.list-best-sellers-products {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  display: grid;
  gap: 10px;
  margin-top: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.title-best-seller-section {
  font-size: var(--font-size-lg);
  color: var(--color-charcoal-gray);
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
}

.card-best-sellers-products {
  list-style: none;
  padding: 0;
  margin: 0 0 48px 0;
  width: 100%;
}

.item-best-sellers-products {
  background-color: var(--color-creamy-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 561.19px;
  cursor: pointer;
}

.container-best-sellers-products-detail {
  box-sizing: border-box;
  position: relative;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 36px 0 36px 0;
}

.category-best-sellers {
  font-size: var(--font-size-xs);
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  height: 16px;
  margin-top: 12.12%;
  margin-bottom: 9.35%;
}

.name-best-sellers {
  font-size: var(--font-size-m);
  color: var(--color-dark-gray);
  margin-bottom: 140%;
  flex-grow: 1;
  font-weight: normal;
}

.container-best-sellers-img {
  position: absolute;
  left: 0;
  top: 30.27%;
  margin-bottom: 32px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.description-best-sellers {
  font-size: var(--font-size-base);
  color: var(--color-dark-gray);
  position: absolute;
  text-align: center;
  top: 84%;
}

.btn.btn-best-sellers {
  font-size: var(--font-size-xs);
  color: var(--color-dark-gray);
  background-color: var(--color-white);
  display: block;
  width: 100%;
  height: 48.8px;
  margin-top: auto;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  padding: 12.5px 0;
  line-height: 25px;
}

.btn-best-sellers-aside {
  display: block;
  margin-right: auto;
  margin-left: 0;
  width: 294px;
}

/* 이하 미디어 쿼리 부문 */

@media (min-width: 768px) {
  /* 이하 768px이상 페이지 새로운 브루잉 도구 */
  .wrapper-brewing-tool {
    background-image: url('../assets/brewing/M5_PC.webp');
    width: 100%;
    padding-left: 110px;
  }

  .wrapper-brewing-tool h2 {
    text-align: left;
    width: 501.52px;
  }

  .descrpition-brewing-tool {
    max-width: 639.84px;
    font-size: var(--font-size-sm);
    text-align: left;
  }

  .btn-outline.details-btn-brewing-tool {
    margin-right: auto;
    margin-left: 0;
    width: 294px;
  }

  /* 이하 768px이상 페이지 베스트셀러 카드 컴포넌트 스타일링 */
  .wrapper-best-sellers-section {
    padding-top: 80px;
  }

  .list-best-sellers-products {
    grid-template-columns: repeat(4, 1fr);
  }

  .title-best-seller-section {
    font-size: var(--font-size-xl);
    text-align: left;
  }

  .item-best-sellers-products {
    min-height: 589.625px;
  }

  .btn-outline.btn-best-sellers-aside {
    margin-left: auto;
    margin-right: auto;
  }

  /* 이하 768px이상 페이지 이미지 마우스오버 기능 */

  .container-best-sellers-img .img-best-sellers-products,
  .container-best-sellers-img .img-hover-best-sellers-products {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-in-out;
  }

  .container-best-sellers-img .img-hover-best-sellers-products {
    opacity: 0;
  }

  .container-best-sellers-img:hover .img-hover-best-sellers-products {
    opacity: 1;
  }
  .container-best-sellers-img:hover .img-best-sellers-products {
    opacity: 0;
  }

  /* 이하 768px이상 페이지 자세히보기 버튼 마우스오버 기능 */

  .btn.btn-best-sellers {
    opacity: 0;
    visibility: hidden;
  }

  .card-best-sellers-products:hover .btn.btn-best-sellers,
  .card-best-sellers-products:focus-within .btn.btn-best-sellers {
    opacity: 1;
    visibility: visible;
  }

  .btn.btn-best-sellers:hover,
  .btn.btn-best-sellers:focus {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  .btn-outline.btn-best-sellers-aside:hover {
    border: 1px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
  }
}
