/* 블루보틀 css */

@import url(./header.css);
@import url(./login.css);
@import url(./product-slider.css);
@import url(./product-display.css);
@import url(./bluebottle-brewing.css);
@import url(./bluebottle-min.css);
@import url(./footer.css);

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
