@import url(../common/theme/variables.css);
@import url(../common/theme/button.css);

/* 스크린 리더 전용 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 슬라이드 버튼 공통 */
.btn {
  width: 18.75rem;
  height: 3.125rem;
}

/* 기본 라디오 버튼 가리기 */
input {
  display: none;
}

/* 슬라이드 전체 wrapper */
.main-slide-wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;

  /* 슬라이드를 감싸는 container */
  .main-slides-container {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .controls label {
    display: none;
    background: white;
    color: black;
    padding: 16px 24px;
    font-size: 32px;
    cursor: pointer;
    pointer-events: all;
  }

  &:hover .controls {
    opacity: 1;
    pointer-events: auto;
  }
}

/* 슬라이드 그룹 */
.list-slides {
  display: flex;
  height: 100%;

  /* 각각의 슬라이드 */
  .item-slide {
    display: flex;
    height: 100%;
    flex: 0 0 100%;

    color: white;
    background-size: cover;
    background-position: center;
  }
  /* 슬라이드 안 텍스트 그룹 */
  .banner-txt {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-left: var(--space-4);
    padding-bottom: var(--space-5);
    width: 100%;

    .slide-title {
      font-size: var(--font-size-xl);
    }
    .slide-subtitle {
      font-size: var(--font-size-base);
    }

    p,
    a {
      margin-top: var(--space-2);
    }
  }
}

/* 슬라이드 배경 이미지 */
.s1 {
  background-image: url(../assets/main-slide-img/slide1.webp);
}
.s2 {
  background-image: url(../assets/main-slide-img/slide2.webp);
}
.s3 {
  background-image: url(../assets/main-slide-img/slide3.webp);
}

/* 슬라이드 이동 */
#main-slide1:checked ~ .main-slides-container .list-slides .s1 {
  transform: translateX(0); /* 1번 슬라이드 */
}
#main-slide2:checked ~ .main-slides-container .list-slides {
  transform: translateX(-100%); /* 2번 슬라이드 */
}
#main-slide3:checked ~ .main-slides-container .list-slides {
  transform: translateX(-200%); /* 3번 슬라이드 */
}

/* 슬라이드 페이지 숫자 버튼 */
.slide-page-btn-wrapper {
  display: flex;
  position: absolute;
  bottom: var(--space-3);
  gap: var(--space-3);
  width: 100%;
  padding-right: var(--space-2);
  justify-content: end;

  .page-btn {
    cursor: pointer;
    color: var(--color-gray);
    transition: background-color 0.3s ease;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
  }
}

@media (max-width: 768px) {
  .slide-container {
    max-height: 650px;

    .banner-txt {
      padding-right: var(--space-1);
      padding-left: var(--space-1) !important;
    }
    a {
      width: 100%;
    }

    .page-btn-wrapper {
      justify-content: start;
      padding-left: var(--space-2);
    }
    .controls {
      opacity: 0 !important;
      pointer-events: none !important;
    }

    .controls label {
      display: none !important;
    }
  }
}

/* 화살표 조합 */
/* slide1  */
#main-slide1:checked ~ .controls .p1,
#main-slide1:checked ~ .controls .n1 {
  display: inline-flex;
}

/* slide2 */
#main-slide2:checked ~ .controls .p2,
#main-slide2:checked ~ .controls .n2 {
  display: inline-flex;
}

/* slide3 */
#main-slide3:checked ~ .controls .p3,
#main-slide3:checked ~ .controls .n3 {
  display: inline-flex;
}
